@import 'bootstrap/dist/css/bootstrap.min.css';

body {
	background: whitesmoke;
	overflow-y: hidden;
}

.spinner-grow {
	width: 3rem;
	height: 3rem;
	background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}

table {
	height: 55vh;
}
